*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

ul{
  list-style: none;
}
p{
  line-height: 30px;
}

li{
  list-style: none;
}

h1{
  padding-top:130px;
  padding-bottom: 40px;
  font-weight: 900;
  font-size:4.6rem
}

h2{
  font-size:2.4rem;
  font-weight: 700;
  padding-bottom: 70px;
}

h3{
  font-weight: 800;
  padding-bottom: 10px;
}

.debug{
  background-color: rgb(175, 122, 224);
  border: 1px solid black;
}

.flexed{
  display: flex;
}

.container-xl{
  max-width: 1150px;
  width: 99%;
  margin: 0 auto;
  position:relative;
}

.container-xs{
  max-width: 1000px;
  width: 99%;
  margin: 0 auto;
}

.justify-between{
  justify-content: space-between;
}

.justify-around{
  justify-content: space-around;
}

img{
  max-width: 100%;
}


.padding-top{
  padding-top: 20px;
}

.padding-bottom{
  padding-bottom: 30px;
}






/* HEADER  */

header{
  height:80px;
  width:100%;
  position: fixed;
  z-index:999;
  top:0;
  background-color: white;
}

header a{
  text-align: center;
  justify-content: space-between;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  color: black;
}

.top-bar ul li a:hover{
  border-bottom: 3px solid black;
  
}


.top-bar{
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.left-nav ul{
  justify-content: space-between;
  align-items: center;
  width: 600px;;
  padding-left:15px;

}

.right-nav ul{
  justify-content: space-between;
  padding-right:15px;

}

.hero-text p{
  padding-bottom: 20px;
}

.heroz .hero-text a{
  text-align: center;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
}

.buttons{
  background-color: #2c60f5;
}

.inizia{
  color: white;
  text-decoration: none;

}

.free{
  text-align: center;
  margin-top: 20px;
  width:80%;
  padding: 10px;
}

/* jumbotron  */

.jumbotron{

  background-color: #b8cee4 ;
  padding-bottom: 27px;
}

.heroz{
  
}

.hero-text{
  width:350px; 

}

.hero-img{
  min-width:50%;
  max-width:790px;
  position: absolute;
  right: 0;
  top: 20;

}

.fa-arrow-down{
  font-size: 2.5rem;
}



/* MAIN  */

main{
  overflow: auto;
  margin-top: 90px;
}

.radio-btn{
  display: inline-block;
  margin-right: 50px;
}

.plans{
  /* flex-direction: row; */
  padding-top: 50px;
  padding-bottom: 30px;
  
  
  
}

.card{
  /* flex-wrap: wrap; */
  border: 1px solid #cfcfd1;
  width: 30%;
  
}

.professional{  
  
}


.single{
  border-bottom:1px solid #cfcfd1;
  text-align: center;
  padding: 10px;
}

.fa-solid{
  padding: 5px;
}

.title-top{ 
}

.lined{
  line-height: 40px;
}

.contain-xxs{
  flex-direction: column;
  padding-top: 20px;
  max-width: 85%;
  margin: 0 20px;
  width: 99%;
}

.contain-xxs ul li{
  font-size: .9rem;
  font-weight: 500;
  padding-bottom: 20px;
  padding-left: 2px;
}

.top-list{
  padding-left: 8px;  
}

.bot-list{
  padding-top: 25px; 
  padding-bottom: 40px; 
}

hr{
  max-width: 20%;
  border-top:1px solid #cfcfd1;
}

.fa-check{
  color:blue;
  font-size: 1.2rem;
}


.horizon{
  width:100%;
  border: 1px solid #cfcfd1;
}

.horizon p{
  padding-top: 40px;
  max-width: 90%;
  padding-bottom: 30px;
}



.contain-xxs h3{
  max-width: 20%;
}

.dx-button a{
  padding: 15px  40px;
  margin-top: 50px; 
  
}

.sx-block{
  max-width:70%;
  margin-left: 15px;
  padding-top: 20px;
  
}

.dx-button{
  margin-top: 20px;
}


.team{
  border-bottom:1px solid #cfcfd1;
  text-align: center;
}

.partner-box{
  padding-top: 130px;
  padding-bottom: 110px;
}

.partner-img{
  width: 600px;
  height: 500px;
}

.partner-text{
  padding-left: 10px;
  padding-top: 50px;
  max-width: 350px;
  
}

.button-partner{
  width:170px; 
  padding:11px;
  border: 1px solid black;
}

.partner-text a{
  text-decoration: none;
  color: black;
}

.operations{
  flex-wrap: wrap;
  
}

.col-card{
  max-width: 300px; 
  padding-bottom: 50px;
  
}

.col-card-img{
  width:280px;
}

.col-card-text{
  max-width: 300px;
}

.col-card-text h3{
  font-size: 1.rem;

}

.col-card-text p{
  padding-top: 25px;
  line-height:22px;;
}

.clients{
  padding-top:110px;
  max-width: 600px;
}

.scopri a{
  padding: 0;
  text-align: start;
  text-decoration: underline;
  color: #7a57a2;
}

/* sponsor  */

.container-tot{
  display: flex;
  flex-flow: row wrap;
  margin-top: 130px;
  /* max-width: 100%; */
  /* height: 600px; */
  
}

.macro{
  margin-top: 130px;
  width: 100vw;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: calc(100vw / 3);
  
}

.big-square-sx{
  display: flex;
  flex-flow: row wrap;
  aspect-ratio: 1 / 1;
  max-width: calc(100% / 3);
}

.big-square-center{
  display: flex;
  flex-flow: row wrap ;
  width: calc(100% / 3);
  overflow: auto;
  aspect-ratio: 1 / 1;


}

.center-square{
  max-width: calc(100vw / 3);
  background-color: #f5f5f5;
  aspect-ratio: 1 / 1;
  /* position: relative; */

}

.designit-square{
  background-color: #aad09e;
  width: 50%;
  height: 50%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.arizona-square{
  background-color: #59192f;
  width: 50%;
  height: 50%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.florida-square{
  background-color: #428fc7;
  width: 50%;
  height: 50%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.topps-square{
  background-color: #e93e33;
  width: 50%;
  height: 50%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.big-square-dx{
  display: flex;
  flex-flow: row wrap;
  aspect-ratio: 1 / 1;
  max-width: calc(100vw/ 3);
}


.world-square{
  background-color: #c22d2f;
  width: 50%;
  height: 50%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.hearst-square{
  background-color: #b8cee4;
  width: 50%;
  height: 50%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.lonely-square{
  background-color: #1a287b;
  width: 50%;
  height: 50%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.clear-square{
  background-color: #f8d857;
  width: 50%;
  height: 50%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.centered-img{
  width: 120px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert(100%);
  
}

.designit-logo{
  width: 230px;
  padding-top: 40px;
  padding-left: 40px;
}

.divide{
  border-top: 1px solid #ccccce ;
  padding-top: 30px;
  margin-top: 30px;
  width:80px;
  margin-left: 40px;
}

.design-text{
  padding-left: 40px;
  padding-bottom: 30px;
  padding-right: 25px;
  line-height: 15px;
  font-size: .7rem;
  font-weight: 600;
}


.free-trial{
  background-color: #b8cee4;
  width: 100vw;
}

.trial{
  padding: 130px;
  font-size: 1.7rem;
  width: 600px;
  font-weight: 750;
  color: #59192f;
}


.button-trial{
  padding-top: 150px;
  margin-right: 100px
}

.button-trial a{
  text-decoration: none;
  color: black;
  background-color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
}
