*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

ul{
  list-style: none;
}
p{
  line-height: 30px;
}

li{
  list-style: none;
}

h1{
  padding-top:130px;
  padding-bottom: 40px;
  font-weight: 900;
  font-size:4.6rem
}

h2{
  font-size:2.4rem;
  font-weight: 700;
  padding-bottom: 40px;

}

.debug{
  background-color: rgb(175, 122, 224);
  border: 1px solid black;
}

.flexed{
  display: flex;
}

.container-xl{
  max-width: 1150px;
  width: 99%;
  margin: 0 auto;
  position:relative;
}

.container-xs{
  max-width: 1000px;
  width: 99%;
  margin: 0 auto;
}

.justify-between{
  justify-content: space-between;
}

.justify-around{
  justify-content: space-around;
}

img{
  max-width: 100%;
}


.padding-top{
  padding-top: 20px;
}







/* HEADER  */

header{
  height:80px;
  width:100%;
  position: fixed;
  z-index:999;
  top:0;
  background-color: white;
}

a{
  text-align: center;
  justify-content: space-between;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  color: black;
}

.top-bar ul li a:hover{
  border-bottom: 3px solid black;
  
}


.top-bar{
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.left-nav ul{
  justify-content: space-between;
  align-items: center;
  width: 600px;;
  padding-left:15px;

}

.right-nav ul{
  justify-content: space-between;
  padding-right:15px;

}

a{
  width: 100%;
  justify-content: space-between;
}

.buttons{
  background-color: #2c60f5;
}

.inizia{
  color: white;

}

.free{
  margin-top: 20px;
  width:230px;
  padding: 10px;
}

/* jumbotron  */

.jumbotron{

  background-color: #b8cee4 ;
  
}

.heroz{
  
}

.hero-text{
  width:350px; 

}

.hero-img{
  width:790px;
  position: absolute;
  right: 0;
  top: 20;
}

.fa-arrow-down{
  font-size: 2.5rem;
  padding-bottom: 20px;
}



/* MAIN  */

main{
  overflow: auto;
  margin-top: 90px;
}

.radio-btn{
  display: inline-block;
  margin-right: 50px;
}

.plans{
  flex-direction: row;
  padding-top: 50px;
  
  
}

.card{
  flex-wrap: wrap;
  height:900px;
  border: 1px solid #cfcfd1;
  width: 300px;
}

.professional{  
}


.single{
  border-bottom:1px solid #cfcfd1;
  height: 40px;
  text-align: center;
}

.single-top{
 
}

.hor-card{
  height: 300px;
}